gestionatr/data/A1226.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/sctd/A1226" targetNamespace="http://localhost/sctd/A1226" elementFormDefault="qualified">
	<include schemaLocation="CommonTagsCONT.xsd"/>
	<element name="sctdapplication" type="tns:SctdapplicationA1226Type"/>
	<complexType name="SctdapplicationA1226Type">
		<sequence>
			<element name="heading" type="tns:HeadingA1226Type" minOccurs="1" maxOccurs="1"/>
			<element name="a1226" type="tns:A1226Type" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HeadingA1226Type">
		<sequence>
			<element name="dispatchingcode" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="3"/>
						<enumeration value="GML"/>
					</restriction>
				</simpleType>
			</element>
			<element name="dispatchingcompany" type="tns:AgenteType" minOccurs="1" maxOccurs="1"/>
			<element name="destinycompany" type="tns:AgenteType" minOccurs="1" maxOccurs="1"/>
			<element name="communicationsdate" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="communicationshour" type="time" minOccurs="1" maxOccurs="1"/>
			<element name="processcode" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<enumeration value="26"/>
					</restriction>
				</simpleType>
			</element>
			<element name="messagetype" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="3"/>
						<enumeration value="A12"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="A1226Type">
		<sequence>
			<element name="reqdate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Fecha de Respuesta</documentation>
				</annotation>
			</element>
			<element name="reqhour" type="time" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Hora de Respuesta</documentation>
				</annotation>
			</element>
			<element name="atrcode" type="tns:AtrcodeType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código de Contrato ATR modificado.</documentation>
				</annotation>
			</element>
			<element name="cups" type="tns:CupsType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>CUPS Solicitud</documentation>
				</annotation>
			</element>
			<element name="nationality" type="tns:NationalityType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nacionalidad</documentation>
				</annotation>
			</element>
			<element name="documenttype" type="tns:IdDocumentType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo Documento de Identificación</documentation>
				</annotation>
			</element>
			<element name="documentnum" type="tns:DocumentnumType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nº Documento</documentation>
				</annotation>
			</element>
			<element name="firstname" type="tns:FirstnameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Nombre de Cliente</documentation>
				</annotation>
			</element>
			<element name="familyname1" type="tns:FamilynameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Apellido 1 / Razón Social</documentation>
				</annotation>
			</element>
			<element name="familyname2" type="tns:FamilynameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Apellido 2</documentation>
				</annotation>
			</element>
			<element name="telephone" type="tns:TelephoneType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Teléfono</documentation>
				</annotation>
			</element>
			<element name="fax" type="tns:TelephoneType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Fax</documentation>
				</annotation>
			</element>
			<element name="newcustomer" type="tns:FlagType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Indicador de Cliente Nuevo</documentation>
				</annotation>
			</element>
			<element name="email" type="tns:EmailType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo E-mail</documentation>
				</annotation>
			</element>
			<element name="streettype" type="tns:TipoViaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Vía del PS</documentation>
				</annotation>
			</element>
			<element name="street" type="tns:CalleType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nueva Vía del Suministro</documentation>
				</annotation>
			</element>
			<element name="streetnumber" type="tns:NumFincaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Número de Vía del Suministro</documentation>
				</annotation>
			</element>
			<element name="portal" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Portal del PS</documentation>
				</annotation>
			</element>
			<element name="staircase" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Escalera del PS</documentation>
				</annotation>
			</element>
			<element name="floor" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Piso del PS</documentation>
				</annotation>
			</element>
			<element name="door" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Puerta del PS</documentation>
				</annotation>
			</element>
			<element name="province" type="tns:CodProvinciaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nueva Provincia del Suministro</documentation>
				</annotation>
			</element>
			<element name="city" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Municipio del Suministro</documentation>
				</annotation>
			</element>
			<element name="zipcode" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Código Postal del Suministro</documentation>
				</annotation>
			</element>
			<element name="tolltype" type="tns:TollType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Peaje.</documentation>
				</annotation>
			</element>
			<element name="qdgranted" type="tns:QdType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal Diario</documentation>
				</annotation>
			</element>
			<element name="qhgranted" type="tns:QhType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal Horario</documentation>
				</annotation>
			</element>
			<element name="singlenomination" type="tns:SinglenominationType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nominación Individual</documentation>
				</annotation>
			</element>
			<element name="transfereffectivedate" type="date" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Fecha Efecto Solicitud</documentation>
				</annotation>
			</element>
			<element name="finalclientyearlyconsumption" type="tns:QaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Consumo Anual</documentation>
				</annotation>
			</element>
			<element name="netsituation" type="tns:NetType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Red o Municipio de Ubicación</documentation>
				</annotation>
			</element>
			<element name="outgoingpressuregranted" type="tns:PressureType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Presión Salida Concedida</documentation>
				</annotation>
			</element>
			<element name="lastinspectionsdate" type="date" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Fecha Ultima Inspección</documentation>
				</annotation>
			</element>
			<element name="lastinspectionsresult" type="tns:ResultInspectionType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Resultado Ultima Inspección</documentation>
				</annotation>
			</element>
			<element name="readingtype" type="tns:ReadingType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Lectura</documentation>
				</annotation>
			</element>
			<element name="rentingamount" type="tns:AmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Importe Alquiler</documentation>
				</annotation>
			</element>
			<element name="rentingperiodicity" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Periodicidad Alquiler</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<enumeration value="01"/>
						<enumeration value="02"/>
						<enumeration value="03"/>
						<enumeration value="04"/>
						<enumeration value="05"/>
					</restriction>
				</simpleType>
			</element>
			<element name="canonircamount" type="tns:AmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Importe Canon IRC</documentation>
				</annotation>
			</element>
			<element name="canonircperiodicity" type="tns:PeriodicidadCanonIRCType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Periodicidad Canon IRC</documentation>
				</annotation>
			</element>
			<element name="canonircforlife" type="tns:FlagType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Canon IRC Vitalicio</documentation>
				</annotation>
			</element>
			<element name="canonircdate" type="date" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Fecha Vigencia Canon IRC si Anual</documentation>
				</annotation>
			</element>
			<element name="canonircmonth" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Mes Aplica Canon IRC si Anual</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<enumeration value="01"/>
						<enumeration value="02"/>
						<enumeration value="03"/>
						<enumeration value="04"/>
						<enumeration value="05"/>
						<enumeration value="06"/>
						<enumeration value="07"/>
						<enumeration value="08"/>
						<enumeration value="09"/>
						<enumeration value="10"/>
						<enumeration value="11"/>
						<enumeration value="12"/>
					</restriction>
				</simpleType>
			</element>
			<element name="othersamount" type="tns:AmountType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Importe Resto Conceptos</documentation>
				</annotation>
			</element>
			<element name="othersperiodicity" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Periodicidad Resto de Conceptos</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<enumeration value="01"/>
						<enumeration value="02"/>
						<enumeration value="03"/>
						<enumeration value="04"/>
						<enumeration value="05"/>
					</restriction>
				</simpleType>
			</element>
			<element name="readingperiodicitycode" type="tns:PeriodicidadLecturaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código Periodicidad Lectura</documentation>
				</annotation>
			</element>
			<element name="transporter" type="tns:AgenteType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código de Transportista</documentation>
				</annotation>
			</element>
			<element name="transnet" type="tns:NetType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Red de Transporte</documentation>
				</annotation>
			</element>
			<element name="gasusetype" type="tns:UsoGasType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Tipo de Uso de Gas</documentation>
				</annotation>
			</element>
			<element name="caecode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Código CAE</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="13"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="communicationreason" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Causa de la Comunicación</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<enumeration value="01"/>
						<enumeration value="05"/>
						<enumeration value="06"/>
					</restriction>
				</simpleType>
			</element>
			<element name="titulartype" type="tns:TitularType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Tipo de Persona</documentation>
				</annotation>
			</element>
			<element name="regularaddress" type="tns:FlagType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Uso de la Vivienda del PS</documentation>
				</annotation>
			</element>
			<element name="counterlist" type="tns:CounterListType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Lista de Contadores</documentation>
				</annotation>
			</element>
			<element name="correctorlist" type="tns:CorrectorListType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Lista de Correctores</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
