gestionatr/data/A138.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/sctd/A138" targetNamespace="http://localhost/sctd/A138" elementFormDefault="qualified">
	<include schemaLocation="CommonTagsCONT.xsd"/>
	<element name="sctdapplication" type="tns:SctdapplicationA138Type"/>
	<complexType name="SctdapplicationA138Type">
		<sequence>
			<element name="heading" type="tns:HeadingA138Type" minOccurs="1" maxOccurs="1"/>
			<element name="a138" type="tns:A138Type" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HeadingA138Type">
		<sequence>
			<element name="dispatchingcode" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="3"/>
						<enumeration value="GML"/>
					</restriction>
				</simpleType>
			</element>
			<element name="dispatchingcompany" type="tns:AgenteType" minOccurs="1" maxOccurs="1"/>
			<element name="destinycompany" type="tns:AgenteType" minOccurs="1" maxOccurs="1"/>
			<element name="communicationsdate" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="communicationshour" type="time" minOccurs="1" maxOccurs="1"/>
			<element name="processcode" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<enumeration value="38"/>
					</restriction>
				</simpleType>
			</element>
			<element name="messagetype" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="3"/>
						<enumeration value="A1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="A138Type">
		<sequence>
			<element name="comreferencenum" type="tns:ComreferencenumType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nº Referencia Solicitud Comercializadora</documentation>
				</annotation>
			</element>
			<element name="reqdate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Fecha de Solicitud</documentation>
				</annotation>
			</element>
			<element name="reqhour" type="time" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Hora de Solicitud</documentation>
				</annotation>
			</element>
			<element name="titulartype" type="tns:TitularType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo tipo de Persona</documentation>
				</annotation>
			</element>
			<element name="nationality" type="tns:NationalityType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nacionalidad</documentation>
				</annotation>
			</element>
			<element name="documenttype" type="tns:IdDocumentType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Tipo Documento de Identificación</documentation>
				</annotation>
			</element>
			<element name="documentnum" type="tns:DocumentnumType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nº Documento</documentation>
				</annotation>
			</element>
			<element name="firstname" type="tns:FirstnameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Nombre Cliente</documentation>
				</annotation>
			</element>
			<element name="familyname1" type="tns:FamilynameType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Apellido 1 / Razón Social</documentation>
				</annotation>
			</element>
			<element name="familyname2" type="tns:FamilynameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Apellido 2</documentation>
				</annotation>
			</element>
			<element name="telephone1" type="tns:TelephoneType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Número de Teléfono Fijo</documentation>
				</annotation>
			</element>
			<element name="telephone2" type="tns:TelephoneType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Número de Teléfono Móvil</documentation>
				</annotation>
			</element>
			<element name="fax" type="tns:TelephoneType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Fax</documentation>
				</annotation>
			</element>
			<element name="email" type="tns:EmailType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>E-mail</documentation>
				</annotation>
			</element>
			<element name="language" type="tns:IdiomaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Idioma</documentation>
				</annotation>
			</element>
			<element name="province" type="tns:CodProvinciaType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Provincia del PS</documentation>
				</annotation>
			</element>
			<element name="city" type="tns:CodAlpha5Type" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Ciudad del PS</documentation>
				</annotation>
			</element>
			<element name="zipcode" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código Postal del PS</documentation>
				</annotation>
			</element>
			<element name="streettype" type="tns:TipoViaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Vía del PS</documentation>
				</annotation>
			</element>
			<element name="street" type="tns:CalleType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Vía del PS</documentation>
				</annotation>
			</element>
			<element name="streetnumber" type="tns:NumFincaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Número de Finca del PS</documentation>
				</annotation>
			</element>
			<element name="portal" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Portal del PS</documentation>
				</annotation>
			</element>
			<element name="staircase" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Escalera del PS</documentation>
				</annotation>
			</element>
			<element name="floor" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Piso del PS</documentation>
				</annotation>
			</element>
			<element name="door" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Puerta del PS</documentation>
				</annotation>
			</element>
			<element name="regularaddress" type="tns:FlagType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nuevo Uso de la Vivienda del PS</documentation>
				</annotation>
			</element>
			<element name="provinceowner" type="tns:CodProvinciaType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Provincia del Titular</documentation>
				</annotation>
			</element>
			<element name="cityowner" type="tns:CodAlpha5Type" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Municipio del Titular</documentation>
				</annotation>
			</element>
			<element name="zipcodeowner" type="tns:CodAlpha5Type" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Código Postal del Titular</documentation>
				</annotation>
			</element>
			<element name="streettypeowner" type="tns:TipoViaType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Vía del Titular</documentation>
				</annotation>
			</element>
			<element name="streetowner" type="tns:CalleType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Vía del Titular</documentation>
				</annotation>
			</element>
			<element name="streetnumberowner" type="tns:NumFincaType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Número de vía del Titular</documentation>
				</annotation>
			</element>
			<element name="portalowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Portal del Titular</documentation>
				</annotation>
			</element>
			<element name="staircaseowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Escalera del Titular</documentation>
				</annotation>
			</element>
			<element name="floorowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Planta del Titular</documentation>
				</annotation>
			</element>
			<element name="doorowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Puerta del Titular</documentation>
				</annotation>
			</element>
			<element name="cups" type="tns:CupsType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>CUPS Solicitud</documentation>
				</annotation>
			</element>
			<element name="reqqd" type="tns:QdType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal máximo diario solicitado (kWh/ día). No se debe informar para suministros del grupo 1 o 2 </documentation>
				</annotation>
			</element>
			<element name="reqqh" type="tns:QhType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal máximo horario solicitado (kWh/ hora)</documentation>
				</annotation>
			</element>
			<element name="reqestimatedqa" type="tns:QaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Consumo caudal anual estimado (kWh/ año). No se debe informar para suministros del grupo 1 o 2</documentation>
				</annotation>
			</element>
			<element name="reqoutgoingpressure" type="tns:PressureType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Presión de salida solicitada (bar)</documentation>
				</annotation>
			</element>
			<element name="gasusetype" type="tns:UsoGasType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Tipo de uso del gas</documentation>
				</annotation>
			</element>
			<element name="tolltype" type="tns:TollType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de peaje solicitado</documentation>
				</annotation>
			</element>
			<element name="counterproperty" type="tns:PropiedadEquipoType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Propiedad del contador</documentation>
				</annotation>
			</element>
			<element name="aptransind" type="tns:FlagType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Indicador de transformación de aparatos</documentation>
				</annotation>
			</element>
			<element name="aptransnumber" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Número de aparatos a transformar</documentation>
				</annotation>
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="4"/>
						<fractionDigits value="0"/>
						<minInclusive value="0"/>
					</restriction>
				</simpleType>
			</element>
			<element name="reig" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código de instalador (REIG)</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="6"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="designpower" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Potencia diseño</documentation>
				</annotation>
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="5"/>
						<fractionDigits value="0"/>
						<minInclusive value="0"/>
					</restriction>
				</simpleType>
			</element>
			<element name="iricertificatedate" type="date" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Fecha de certificado IRI</documentation>
				</annotation>
			</element>
			<element name="terminstexist" type="tns:FlagType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Indicador de si existe instalación térmica</documentation>
				</annotation>
			</element>
			<element name="modeffectdate" type="tns:ModeloFechaSolicitudType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Modelo de Fecha Efecto. Para suministros del grupo 1 o 2, sólo se permitirá a Fecha de Efecto concreta (Cód. '04').</documentation>
				</annotation>
			</element>
			<element name="reqactivationdate" type="date" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Fecha de activación Solicitada</documentation>
				</annotation>
			</element>
			<element name="extrainfo" type="tns:ExtrainfoType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Observaciones de la Solicitud</documentation>
				</annotation>
			</element>
			<element name="productlist" type="tns:productlistTypeAlta" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Lista de productos solicitados</documentation>
				</annotation>
			</element>
			<element name="registerdoclist" type="tns:RegisterdocListType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Lista de documentos</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
