gestionatr/data/A141.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://localhost/sctd/A141"
	xmlns:tns="http://localhost/sctd/A141"
	elementFormDefault="qualified" >

	<include schemaLocation="CommonTagsCONT.xsd"></include>
	<element name="sctdapplication"
		type="tns:SctdapplicationA141Type">
	</element>

	<complexType name="SctdapplicationA141Type">
		<sequence>
			<element name="heading" type="tns:HeadingA141Type" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="a141" type="tns:A141Type"
				maxOccurs="unbounded" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="HeadingA141Type">
		<sequence>
			<element name="dispatchingcode" maxOccurs="1"
				minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="GML"></enumeration>
						<length value="3"></length>
					</restriction>
				</simpleType>
			</element>
			<element name="dispatchingcompany" type="tns:AgenteType"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="destinycompany" type="tns:AgenteType"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="communicationsdate" type="date" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="communicationshour" type="time" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="processcode" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="2"></length>
						<enumeration value="41"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="messagetype" maxOccurs="1" minOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="A1"></enumeration>
						<minLength value="1"></minLength>
						<maxLength value="3"></maxLength>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="A141Type">
		<sequence>
			<element name="comreferencenum"
				type="tns:ComreferencenumType" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>Nº Referencia Solicitud Comercializadora
					</documentation>
				</annotation>
			</element>
			<element name="reqdate" type="date" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>Fecha de Solicitud</documentation>
				</annotation>
			</element>
			<element name="reqhour" type="time" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>Hora de Solicitud</documentation>
				</annotation>
			</element>
			<element name="nationality" type="tns:NationalityType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Nacionalidad</documentation>
				</annotation>
			</element>
			<element name="documenttype" type="tns:IdDocumentType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Tipo Documento de Identificación
					</documentation>
				</annotation>
			</element>
			<element name="documentnum" type="tns:DocumentnumType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Nº Documento</documentation>
				</annotation>
			</element>
			<element name="cups" type="tns:CupsType" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>CUPS Solicitud</documentation>
				</annotation>
			</element>
			<element name="modeffectdate"
				type="tns:ModeloFechaSolicitudType" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						Modelo de Fecha Efecto
					</documentation>
				</annotation>
			</element>
			<element name="reqtransferdate" type="date" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>Fecha de Efecto Solicitada
					</documentation>
				</annotation>
			</element>
			<element name="updatereason" maxOccurs="1" minOccurs="1">
                <annotation>
                	<documentation>Motivo de Modificación</documentation>
                </annotation>
                <simpleType>
					<restriction base="string">
						<length value="2"></length>
						<enumeration value="01"></enumeration>
						<enumeration value="02"></enumeration>
						<enumeration value="03"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="surrogacy"
				type="tns:FlagType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Indicador de Subrogación</documentation>
				</annotation>
			</element>
			<element name="newnationality" type="tns:NationalityType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Nacionalidad del nuevo cliente
					</documentation>
				</annotation>
			</element>
			<element name="newdocumenttype" type="tns:IdDocumentType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>
						Tipo de documento del nuevo cliente
					</documentation>
				</annotation>
			</element>
			<element name="newdocumentnum" type="tns:DocumentnumType"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Número de documento del nuevo cliente
</documentation>
                </annotation>
			</element>
			<element name="newfirstname" type="tns:FirstnameType"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Nombre de nuevo cliente</documentation>
                </annotation>
			</element>
			<element name="newfamilyname1" type="tns:FamilynameType"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Apellido 1 / Razón Social de nuevo cliente</documentation>
                </annotation>
			</element>
			<element name="newfamilyname2" type="tns:FamilynameType"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Apellido 2 de nuevo cliente</documentation>
                </annotation>
			</element>
			<element name="newtitulartype" type="tns:TitularType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Tipo de Titular de nuevo cliente</documentation>
				</annotation>
			</element>
			<element name="newregularaddress" type="tns:FlagType"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Indicador de vivienda habitual</documentation>
                </annotation>
			</element>
			<element name="newtelephone1" type="tns:TelephoneType"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Teléfono 1</documentation>
                </annotation>
			</element>
			<element name="newtelephone2" type="tns:TelephoneType"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Teléfono 2</documentation>
                </annotation>
			</element>
			<element name="newemail" type="tns:EmailType" maxOccurs="1"
				minOccurs="0">
                <annotation>
                	<documentation>Correo electrónico</documentation>
                </annotation>
			</element>
			<element name="newlanguage" type="tns:IdiomaType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Código de Idioma</documentation>
				</annotation>
			</element>
			<element name="newprovinceowner"
				type="tns:CodProvinciaType" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Provincia</documentation>
				</annotation>
			</element>
			<element name="newcityowner" type="tns:CodAlpha5Type"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Municipio</documentation>
                </annotation>
			</element>
			<element name="newzipcodeowner" type="tns:CodAlpha5Type"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Código postal</documentation>
                </annotation>
			</element>
			<element name="newstreettypeowner" type="tns:TipoViaType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Tipo de vía</documentation>
				</annotation>
			</element>
			<element name="newstreetowner" type="tns:StreetnameType"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Nombre Calle</documentation>
                </annotation>
			</element>
			<element name="newstreetnumberowner"
				type="tns:StreetnumberType" maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Número de finca</documentation>
                </annotation>
			</element>
			<element name="newportal" type="tns:CodAlpha5Type"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Portal</documentation>
                </annotation>
			</element>
			<element name="newstaircase" type="tns:CodAlpha5Type" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Escalera</documentation>
				</annotation></element>
			<element name="newfloor" type="tns:CodAlpha5Type"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Piso</documentation>
                </annotation>
			</element>
			<element name="newdoor" type="tns:CodAlpha5Type"
				maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Puerta</documentation>
                </annotation>
			</element>
			<element name="newreqqd" type="tns:QdType" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>Caudal Diario Solicitado
					</documentation>
				</annotation>
			</element>
			<element name="disconnectedserviceaccepted"
				type="tns:FlagType" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>Indicador de que se quiere contratar el
suministro independientemente de su estado
(suspendido o en proceso de baja por impago)
					</documentation>
				</annotation>
			</element>
			<element name="extrainfo" type="tns:ExtrainfoType"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Observaciones 1</documentation>
				</annotation>
			</element>
			<element name="registerdoclist"
				type="tns:RegisterdocListType" maxOccurs="1" minOccurs="0">
                <annotation>
                	<documentation>Lista de documentos</documentation>
                </annotation>
			</element>			
		</sequence>
	</complexType>
</schema>