gestionatr/data/A338.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/sctd/A338" targetNamespace="http://localhost/sctd/A338" elementFormDefault="qualified">
	<include schemaLocation="CommonTagsCONT.xsd"/>
	<element name="sctdapplication" type="tns:SctdapplicationA338Type"/>
	<complexType name="SctdapplicationA338Type">
		<sequence>
			<element name="heading" type="tns:HeadingA338Type" minOccurs="1" maxOccurs="1"/>
			<element name="a338" type="tns:A338Type" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HeadingA338Type">
		<sequence>
			<element name="dispatchingcode" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="3"/>
						<enumeration value="GML"/>
					</restriction>
				</simpleType>
			</element>
			<element name="dispatchingcompany" type="tns:AgenteType" minOccurs="1" maxOccurs="1"/>
			<element name="destinycompany" type="tns:AgenteType" minOccurs="1" maxOccurs="1"/>
			<element name="communicationsdate" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="communicationshour" type="time" minOccurs="1" maxOccurs="1"/>
			<element name="processcode" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<enumeration value="38"/>
					</restriction>
				</simpleType>
			</element>
			<element name="messagetype" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="3"/>
						<enumeration value="A3"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="A338Type">
		<sequence>
			<element name="reqcode" type="tns:ReqcodeType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código Solicitud</documentation>
				</annotation>
			</element>
			<element name="comreferencenum" type="tns:ComreferencenumType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nº Referencia Solicitud Comercializadora</documentation>
				</annotation>
			</element>
			<element name="responsedate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Fecha de Respuesta</documentation>
				</annotation>
			</element>
			<element name="responsehour" type="time" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Hora de Respuesta</documentation>
				</annotation>
			</element>
			<element name="result" type="tns:ResultadoA3Type" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Código de Resultado</documentation>
				</annotation>
			</element>
			<element name="resultdesc" type="tns:ResultdescType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Descripción de Resultado</documentation>
				</annotation>
			</element>
			<element name="activationtype" type="tns:ActivationType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Activación</documentation>
				</annotation>
			</element>
			<element name="activationtypedesc" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Descripción de Tipo de Activación</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="100"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="interventiondate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Fecha de Intervención</documentation>
				</annotation>
			</element>
			<element name="interventionhour" type="time" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Hora de intervención
					</documentation>
				</annotation>
			</element>
			<element name="canonircperiodicity" type="tns:PeriodicidadCanonIRCType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Periodicidad de Canon IRC</documentation>
				</annotation>
			</element>
			<element name="nationality" type="tns:NationalityType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nacionalidad</documentation>
				</annotation>
			</element>
			<element name="documenttype" type="tns:IdDocumentType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Tipo Documento de Identificación</documentation>
				</annotation>
			</element>
			<element name="documentnum" type="tns:DocumentnumType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nº Documento</documentation>
				</annotation>
			</element>
			<element name="titulartype" type="tns:TitularType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Persona</documentation>
				</annotation>
			</element>
			<element name="firstname" type="tns:FirstnameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nombre Cliente</documentation>
				</annotation>
			</element>
			<element name="familyname1" type="tns:FamilynameType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Apellido 1 / Razón Social</documentation>
				</annotation>
			</element>
			<element name="familyname2" type="tns:FamilynameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Apellido 2</documentation>
				</annotation>
			</element>
			<element name="province" type="tns:CodProvinciaType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Provincia del PS</documentation>
				</annotation>
			</element>
			<element name="city" type="tns:CodAlpha5Type" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Municipio del PS</documentation>
				</annotation>
			</element>
			<element name="zipcode" type="tns:CodAlpha5Type" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Código Postal del PS</documentation>
				</annotation>
			</element>
			<element name="streettype" type="tns:TipoViaType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Vía del PS</documentation>
				</annotation>
			</element>
			<element name="street" type="tns:CalleType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nombre de Calle del PS</documentation>
				</annotation>
			</element>
			<element name="streetnumber" type="tns:NumFincaType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Número de Finca del PS</documentation>
				</annotation>
			</element>
			<element name="portal" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Portal del PS</documentation>
				</annotation>
			</element>
			<element name="staircase" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Escalera del PS</documentation>
				</annotation>
			</element>
			<element name="floor" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Piso del PS</documentation>
				</annotation>
			</element>
			<element name="door" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Puerta del PS</documentation>
				</annotation>
			</element>
			<element name="cups" type="tns:CupsType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>CUPS Solicitud</documentation>
				</annotation>
			</element>
			<element name="atr" type="tns:AtrcodeType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código Contrato ATR. No se debe informar para suministros del grupo 1 o 2</documentation>
				</annotation>
			</element>
			<element name="operationnum" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Número de Operación Generada</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="40"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="netsituation" type="tns:NetType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Red o Municipio donde esta conectado el cliente</documentation>
				</annotation>
			</element>
			<element name="lectureperiodicity" type="tns:PeriodicidadLecturaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Periodicidad de Lectura</documentation>
				</annotation>
			</element>
			<element name="visitnumber" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Número de Visita</documentation>
				</annotation>
				<simpleType>
					<restriction base="integer">
						<minInclusive value="0"/>
						<maxInclusive value="999"/>
					</restriction>
				</simpleType>
			</element>
			<element name="tolltype" type="tns:TollType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Peaje</documentation>
				</annotation>
			</element>
			<element name="finalqdgranted" type="tns:QdType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal máximo diario concedido final (kWh/ día). No se debe informar para suministros del grupo 1 o 2</documentation>
				</annotation>
			</element>
			<element name="finalqhgranted" type="tns:QhType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal Horario Concedido Final</documentation>
				</annotation>
			</element>
			<element name="finalclientyearlyconsumption" type="tns:QaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal anual actual final (kWh/ año). No se debe informar para suministros del grupo 1 o 2</documentation>
				</annotation>
			</element>
			<element name="extrainfo" type="tns:ExtrainfoType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Observaciones de la Realización</documentation>
				</annotation>
			</element>
			<element name="conceptnumber" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Número de Conceptos</documentation>
				</annotation>
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="2"/>
						<fractionDigits value="0"/>
						<minInclusive value="0"/>
					</restriction>
				</simpleType>
			</element>
			<element name="conceptlist" type="tns:ConceptListType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Lista de datos de facturación</documentation>
				</annotation>
			</element>
			<element name="counterlist" type="tns:CounterListType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Lista de Contadores</documentation>
				</annotation>
			</element>
			<element name="correctorlist" type="tns:CorrectorListType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Lista de Correctores</documentation>
				</annotation>
			</element>
			<element name="productlist" type="tns:productlistTypeActivacion" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Listado de productos activos en la aceptación de la solicitud</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
