gestionatr/data/A341.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/sctd/A341" targetNamespace="http://localhost/sctd/A341" elementFormDefault="qualified">
	<include schemaLocation="CommonTagsCONT.xsd"/>
	<element name="sctdapplication" type="tns:SctdapplicationA341Type"/>
	<complexType name="SctdapplicationA341Type">
		<sequence>
			<element name="heading" type="tns:HeadingA341Type" minOccurs="1" maxOccurs="1"/>
			<element name="a341" type="tns:A341Type" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HeadingA341Type">
		<sequence>
			<element name="dispatchingcode" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="3"/>
						<enumeration value="GML"/>
					</restriction>
				</simpleType>
			</element>
			<element name="dispatchingcompany" type="tns:AgenteType" minOccurs="1" maxOccurs="1"/>
			<element name="destinycompany" type="tns:AgenteType" minOccurs="1" maxOccurs="1"/>
			<element name="communicationsdate" type="date" minOccurs="1" maxOccurs="1"/>
			<element name="communicationshour" type="time" minOccurs="1" maxOccurs="1"/>
			<element name="processcode" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<enumeration value="41"/>
					</restriction>
				</simpleType>
			</element>
			<element name="messagetype" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="3"/>
						<enumeration value="A3"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="A341Type">
		<sequence>
			<element name="reqcode" type="tns:ReqcodeType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código Solicitud</documentation>
				</annotation>
			</element>
			<element name="comreferencenum" type="tns:ComreferencenumType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Nº Referencia Solicitud Comercializadora
					</documentation>
				</annotation>
			</element>
			<element name="responsedate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Fecha de Respuesta</documentation>
				</annotation>
			</element>
			<element name="responsehour" type="time" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Hora de Respuesta</documentation>
				</annotation>
			</element>
			<element name="nationality" type="tns:NationalityType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nacionalidad</documentation>
				</annotation>
			</element>
			<element name="documenttype" type="tns:IdDocumentType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Tipo Documento de Identificación
					</documentation>
				</annotation>
			</element>
			<element name="documentnum" type="tns:DocumentnumType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Nº Documento</documentation>
				</annotation>
			</element>
			<element name="cups" type="tns:CupsType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>CUPS Solicitud</documentation>
				</annotation>
			</element>
			<element name="atrcode" type="tns:AtrcodeType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código Contrato ATR. No se debe informar para suministros del grupo 1 o 2</documentation>
				</annotation>
			</element>
			<element name="transfereffectivedate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Fecha Efecto Solicitud</documentation>
				</annotation>
			</element>
			<element name="telemetering" type="tns:FlagType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Dispone de Telemedida</documentation>
				</annotation>
			</element>
			<element name="finalqdgranted" type="tns:QdType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal Diario Concedido Final. No se debe informar para suministros del grupo 1 o 2</documentation>
				</annotation>
			</element>
			<element name="finalqhgranted" type="tns:QhType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal Horario Concedido Final</documentation>
				</annotation>
			</element>
			<element name="finalclientyearlyconsumption" type="tns:QaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Caudal Anual Actual Final. No se debe informar para suministros del grupo 1 o 2</documentation>
				</annotation>
			</element>
			<element name="gasusetype" type="tns:UsoGasType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Uso del Gas</documentation>
				</annotation>
			</element>
			<element name="updatereason" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Motivo de Modificación</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<enumeration value="01"/>
						<enumeration value="02"/>
						<enumeration value="03"/>
					</restriction>
				</simpleType>
			</element>
			<element name="result" type="tns:ResultadoA3Type" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Código de Resultado</documentation>
				</annotation>
			</element>
			<element name="resultdesc" type="tns:ResultdescType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Descripción de Resultado</documentation>
				</annotation>
			</element>
			<element name="activationtype" type="tns:ActivationType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Activación</documentation>
				</annotation>
			</element>
			<element name="activationtypedesc" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Descripción de Tipo de Activación</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="100"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="closingtype" type="tns:ClosingCodeType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Cierre</documentation>
				</annotation>
			</element>
			<element name="closingtypedesc" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Descripción del Tipo de Cierre</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="100"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="interventiondate" type="date" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Fecha de Intervención</documentation>
				</annotation>
			</element>
			<element name="interventionhourfrom" type="time" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Hora de inicio de intervención</documentation>
				</annotation>
			</element>
			<element name="interventionhourto" type="time" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Hora de fin de intervención</documentation>
				</annotation>
			</element>
			<element name="visitnumber" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Número de Visita</documentation>
				</annotation>
				<simpleType>
					<restriction base="integer">
						<minInclusive value="0"/>
						<maxInclusive value="999"/>
					</restriction>
				</simpleType>
			</element>
			<element name="firstname" type="tns:FirstnameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nombre Cliente</documentation>
				</annotation>
			</element>
			<element name="familyname1" type="tns:FamilynameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Apellido 1 / Razón Social
</documentation>
				</annotation>
			</element>
			<element name="familyname2" type="tns:FamilynameType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Apellido 2</documentation>
				</annotation>
			</element>
			<element name="titulartype" type="tns:TitularType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Persona</documentation>
				</annotation>
			</element>
			<element name="regularaddress" type="tns:FlagType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Uso de la Vivienda del PS</documentation>
				</annotation>
			</element>
			<element name="telephone1" type="tns:TelephoneType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Teléfono 1</documentation>
				</annotation>
			</element>
			<element name="telephone2" type="tns:TelephoneType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Teléfono 2</documentation>
				</annotation>
			</element>
			<element name="email" type="tns:EmailType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Correo Electrónico</documentation>
				</annotation>
			</element>
			<element name="language" type="tns:IdiomaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Idioma</documentation>
				</annotation>
			</element>
			<element name="provinceowner" type="tns:CodProvinciaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Provincia del Titular</documentation>
				</annotation>
			</element>
			<element name="cityowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Municipio del Titular</documentation>
				</annotation>
			</element>
			<element name="zipcodeowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Código Postal del Titular
</documentation>
				</annotation>
			</element>
			<element name="streettypeowner" type="tns:TipoViaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Vía del Titular</documentation>
				</annotation>
			</element>
			<element name="streetowner" type="tns:CalleType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Nombre de Calle del Titular</documentation>
				</annotation>
			</element>
			<element name="streetnumberowner" type="tns:NumFincaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Número de Finca del Titular</documentation>
				</annotation>
			</element>
			<element name="portalowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Portal del Titular</documentation>
				</annotation>
			</element>
			<element name="staircaseowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Escalera del Titular</documentation>
				</annotation>
			</element>
			<element name="floorowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Piso del Titular</documentation>
				</annotation>
			</element>
			<element name="doorowner" type="tns:CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Puerta del Titular</documentation>
				</annotation>
			</element>
			<element name="canonircperiodicity" type="tns:PeriodicidadCanonIRCType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Periodicidad de Canon IRC</documentation>
				</annotation>
			</element>
			<element name="lastinspectionsdate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Fecha Ultima Inspeción</documentation>
				</annotation>
			</element>
			<element name="lastinspectionsresult" type="tns:ResultInspectionType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Resultado Ultima Inspección</documentation>
				</annotation>
			</element>
			<element name="StatusPS" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Situación del PS</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="1"/>
						<enumeration value="0"/>
						<enumeration value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="readingtype" type="tns:ReadingType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Tipo de Lectura</documentation>
				</annotation>
			</element>
			<element name="lectureperiodicity" type="tns:PeriodicidadLecturaType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Periodicidad de Lectura</documentation>
				</annotation>
			</element>
			<element name="extrainfo" type="tns:ExtrainfoType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Observaciones de la Realización</documentation>
				</annotation>
			</element>
			<element name="counterlist" type="tns:CounterListType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Lista de Contadores</documentation>
				</annotation>
			</element>
			<element name="correctorlist" type="tns:CorrectorListType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Lista de Correctores</documentation>
				</annotation>
			</element>
			<element name="productlist" type="tns:productlistTypeActivacion" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Listado de productos activos en la aceptación de la solicitud</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
