gestionatr/data/CommonTagsCONT.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:simpleType name="AgenteType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="([0-9])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComreferencenumType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentnumType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CupsType">
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[a-zA-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlagType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExtrainfoType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="400"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QdType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="7"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999999.9999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QhType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
			<xs:fractionDigits value="0"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QaType">
		<xs:restriction base="xs:long">
			<xs:totalDigits value="12"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha2Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TitularType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReqcodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PressureType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
			<xs:fractionDigits value="3"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SinglenominationType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultdescType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultreasonType">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultreasondescType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CounterType">
		<xs:sequence>
			<xs:element name="countermodel" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Marca de Contador</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="countertype" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Contador</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="7"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="counternumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Serie de Contador</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="18"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="counterproperty" type="PropiedadEquipoType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Propiedad del Contador</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reallecture" type="LectureType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lectura Bruta (m3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="counterpressure" type="PressureType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Presión del Contador</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CounterListType">
		<xs:sequence>
			<xs:element name="counter" type="CounterType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CorrectorType">
		<xs:sequence>
			<xs:element name="correctormodel" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Marca del Corrector</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="correctortype" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Corrector</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
						<xs:enumeration value="03"/>
						<xs:enumeration value="04"/>
						<xs:enumeration value="05"/>
						<xs:enumeration value="06"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="correctornumber" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Serie del Corrector</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="18"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="correctorproperty" type="PropiedadEquipoType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Propiedad del Corrector</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correctedlecture" type="LectureType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lectura Corregida (m3)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LectureType">
		<xs:restriction base="xs:long">
			<xs:totalDigits value="11"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CorrectorListType">
		<xs:sequence>
			<xs:element name="corrector" type="CorrectorType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FirstnameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FamilynameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtrcodeType">
		<xs:restriction base="xs:string">
			<xs:length value="24"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReadingType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RegisterdocType">
		<xs:sequence>
			<xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha del Documento
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="doctype" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Documento
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CC"/>
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
						<xs:enumeration value="03"/>
						<xs:enumeration value="04"/>
						<xs:enumeration value="05"/>
						<xs:enumeration value="06"/>
						<xs:enumeration value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="url" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>URL de descarga del documento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="extrainfo" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Información adicional</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisterdocListType">
		<xs:sequence>
			<xs:element name="registerdoc" type="RegisterdocType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConceptType">
		<xs:sequence>
			<xs:element name="level" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nivel del Concepto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Concepto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción Concepto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="periodicity" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Periodicidad Facturación</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
						<xs:enumeration value="03"/>
						<xs:enumeration value="04"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="units" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unidades</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="3"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="unitimport" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Importe Unitario</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="99999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="import" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Importe Total</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="2"/>
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="9999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConceptListType">
		<xs:sequence>
			<xs:element name="concept" type="ConceptType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DefectType">
		<xs:sequence>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Anomalía</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción de Anomalía</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="240"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DefectListType">
		<xs:sequence>
			<xs:element name="defect" type="DefectType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PrefixTelType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TelephoneType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetnameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha5Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetnumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InformationCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="002"/>
			<xs:enumeration value="005"/>
			<xs:enumeration value="031"/>
			<xs:enumeration value="041"/>
			<xs:enumeration value="050"/>
			<xs:enumeration value="051"/>
			<xs:enumeration value="060"/>
			<xs:enumeration value="061"/>
			<xs:enumeration value="907"/>
			<xs:enumeration value="909"/>
			<xs:enumeration value="910"/>
			<xs:enumeration value="911"/>
			<xs:enumeration value="912"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InformationdescType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActivationType">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="001"/>
			<xs:enumeration value="002"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NationalityType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="AD"/>
			<xs:enumeration value="AE"/>
			<xs:enumeration value="AF"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="AI"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AM"/>
			<xs:enumeration value="AN"/>
			<xs:enumeration value="AO"/>
			<xs:enumeration value="AQ"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AS"/>
			<xs:enumeration value="AT"/>
			<xs:enumeration value="AU"/>
			<xs:enumeration value="AW"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="BD"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BF"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="BH"/>
			<xs:enumeration value="BI"/>
			<xs:enumeration value="BJ"/>
			<xs:enumeration value="BM"/>
			<xs:enumeration value="BN"/>
			<xs:enumeration value="BO"/>
			<xs:enumeration value="BR"/>
			<xs:enumeration value="BS"/>
			<xs:enumeration value="BT"/>
			<xs:enumeration value="BV"/>
			<xs:enumeration value="BW"/>
			<xs:enumeration value="BY"/>
			<xs:enumeration value="BZ"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CC"/>
			<xs:enumeration value="CD"/>
			<xs:enumeration value="CF"/>
			<xs:enumeration value="CG"/>
			<xs:enumeration value="CH"/>
			<xs:enumeration value="CI"/>
			<xs:enumeration value="CK"/>
			<xs:enumeration value="CL"/>
			<xs:enumeration value="CM"/>
			<xs:enumeration value="CN"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="CU"/>
			<xs:enumeration value="CV"/>
			<xs:enumeration value="CX"/>
			<xs:enumeration value="CY"/>
			<xs:enumeration value="CZ"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="DJ"/>
			<xs:enumeration value="DK"/>
			<xs:enumeration value="DM"/>
			<xs:enumeration value="DO"/>
			<xs:enumeration value="DZ"/>
			<xs:enumeration value="EC"/>
			<xs:enumeration value="EE"/>
			<xs:enumeration value="EG"/>
			<xs:enumeration value="EH"/>
			<xs:enumeration value="ER"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="ET"/>
			<xs:enumeration value="FI"/>
			<xs:enumeration value="FJ"/>
			<xs:enumeration value="FK"/>
			<xs:enumeration value="FM"/>
			<xs:enumeration value="FO"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="GD"/>
			<xs:enumeration value="GE"/>
			<xs:enumeration value="GF"/>
			<xs:enumeration value="GH"/>
			<xs:enumeration value="GI"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="GM"/>
			<xs:enumeration value="GN"/>
			<xs:enumeration value="GP"/>
			<xs:enumeration value="GQ"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="GS"/>
			<xs:enumeration value="GT"/>
			<xs:enumeration value="GU"/>
			<xs:enumeration value="GW"/>
			<xs:enumeration value="GY"/>
			<xs:enumeration value="HK"/>
			<xs:enumeration value="HM"/>
			<xs:enumeration value="HN"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="HT"/>
			<xs:enumeration value="HU"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IE"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="IO"/>
			<xs:enumeration value="IQ"/>
			<xs:enumeration value="IR"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="IT"/>
			<xs:enumeration value="JM"/>
			<xs:enumeration value="JO"/>
			<xs:enumeration value="JP"/>
			<xs:enumeration value="KE"/>
			<xs:enumeration value="KG"/>
			<xs:enumeration value="KH"/>
			<xs:enumeration value="KI"/>
			<xs:enumeration value="KM"/>
			<xs:enumeration value="KN"/>
			<xs:enumeration value="KP"/>
			<xs:enumeration value="KR"/>
			<xs:enumeration value="KW"/>
			<xs:enumeration value="KY"/>
			<xs:enumeration value="KZ"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="LB"/>
			<xs:enumeration value="LC"/>
			<xs:enumeration value="LI"/>
			<xs:enumeration value="LK"/>
			<xs:enumeration value="LR"/>
			<xs:enumeration value="LS"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LU"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="LY"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MC"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="MG"/>
			<xs:enumeration value="MH"/>
			<xs:enumeration value="MK"/>
			<xs:enumeration value="ML"/>
			<xs:enumeration value="MM"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="MP"/>
			<xs:enumeration value="MQ"/>
			<xs:enumeration value="MR"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="MU"/>
			<xs:enumeration value="MV"/>
			<xs:enumeration value="MW"/>
			<xs:enumeration value="MX"/>
			<xs:enumeration value="MY"/>
			<xs:enumeration value="MZ"/>
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NC"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NF"/>
			<xs:enumeration value="NG"/>
			<xs:enumeration value="NI"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="NO"/>
			<xs:enumeration value="NP"/>
			<xs:enumeration value="NR"/>
			<xs:enumeration value="NU"/>
			<xs:enumeration value="NZ"/>
			<xs:enumeration value="OM"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PE"/>
			<xs:enumeration value="PF"/>
			<xs:enumeration value="PG"/>
			<xs:enumeration value="PH"/>
			<xs:enumeration value="PK"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PM"/>
			<xs:enumeration value="PN"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="PS"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="PW"/>
			<xs:enumeration value="PY"/>
			<xs:enumeration value="QA"/>
			<xs:enumeration value="RE"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="RU"/>
			<xs:enumeration value="RW"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SB"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="SI"/>
			<xs:enumeration value="SJ"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="SN"/>
			<xs:enumeration value="SO"/>
			<xs:enumeration value="SR"/>
			<xs:enumeration value="ST"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="SY"/>
			<xs:enumeration value="SZ"/>
			<xs:enumeration value="TC"/>
			<xs:enumeration value="TD"/>
			<xs:enumeration value="TF"/>
			<xs:enumeration value="TG"/>
			<xs:enumeration value="TH"/>
			<xs:enumeration value="TJ"/>
			<xs:enumeration value="TK"/>
			<xs:enumeration value="TL"/>
			<xs:enumeration value="TM"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TO"/>
			<xs:enumeration value="TP"/>
			<xs:enumeration value="TR"/>
			<xs:enumeration value="TT"/>
			<xs:enumeration value="TV"/>
			<xs:enumeration value="TW"/>
			<xs:enumeration value="TZ"/>
			<xs:enumeration value="UA"/>
			<xs:enumeration value="UG"/>
			<xs:enumeration value="UM"/>
			<xs:enumeration value="US"/>
			<xs:enumeration value="UY"/>
			<xs:enumeration value="UZ"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="VC"/>
			<xs:enumeration value="VE"/>
			<xs:enumeration value="VG"/>
			<xs:enumeration value="VI"/>
			<xs:enumeration value="VN"/>
			<xs:enumeration value="VU"/>
			<xs:enumeration value="WF"/>
			<xs:enumeration value="WS"/>
			<xs:enumeration value="YE"/>
			<xs:enumeration value="YT"/>
			<xs:enumeration value="YU"/>
			<xs:enumeration value="ZA"/>
			<xs:enumeration value="ZM"/>
			<xs:enumeration value="ZR"/>
			<xs:enumeration value="ZW"/>
			<xs:enumeration value="RS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdDocumentType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ModeloFechaSolicitudType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ModeloFechaRespuestaType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodProvinciaType">
		<xs:annotation>
			<xs:documentation>Código INE de Provincia</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoViaType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumFincaType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CalleType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdiomaType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultadoA2Type">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultadoAceptadaType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultadoA3Type">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultadoA4Type">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MotivoRechazoType">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="R01"/>
			<xs:enumeration value="R03"/>
			<xs:enumeration value="R04"/>
			<xs:enumeration value="R07"/>
			<xs:enumeration value="R08"/>
			<xs:enumeration value="R11"/>
			<xs:enumeration value="R12"/>
			<xs:enumeration value="R14"/>
			<xs:enumeration value="R19"/>
			<xs:enumeration value="R24"/>
			<xs:enumeration value="R26"/>
			<xs:enumeration value="R28"/>
			<xs:enumeration value="R29"/>
			<xs:enumeration value="R32"/>
			<xs:enumeration value="R34"/>
			<xs:enumeration value="R35"/>
			<xs:enumeration value="R36"/>
			<xs:enumeration value="R37"/>
			<xs:enumeration value="R38"/>
			<xs:enumeration value="R39"/>
			<xs:enumeration value="R40"/>
			<xs:enumeration value="R41"/>
			<xs:enumeration value="R42"/>
			<xs:enumeration value="R43"/>
			<xs:enumeration value="R44"/>
			<xs:enumeration value="R45"/>
			<xs:enumeration value="R46"/>
			<xs:enumeration value="R47"/>
			<xs:enumeration value="R48"/>
			<xs:enumeration value="R49"/>
			<xs:enumeration value="R51"/>
			<xs:enumeration value="R61"/>
			<xs:enumeration value="R62"/>
			<xs:enumeration value="R64"/>
			<xs:enumeration value="R70"/>
			<xs:enumeration value="R73"/>
			<xs:enumeration value="R74"/>
			<xs:enumeration value="R75"/>
			<xs:enumeration value="R76"/>
			<xs:enumeration value="R77"/>
			<xs:enumeration value="R78"/>
			<xs:enumeration value="R79"/>
			<xs:enumeration value="R80"/>
			<xs:enumeration value="R81"/>
			<xs:enumeration value="R82"/>
			<xs:enumeration value="R83"/>
			<xs:enumeration value="R84"/>
			<xs:enumeration value="R85"/>
			<xs:enumeration value="R86"/>
			<xs:enumeration value="R87"/>
			<xs:enumeration value="R88"/>
			<xs:enumeration value="R89"/>
			<xs:enumeration value="R90"/>
			<xs:enumeration value="R91"/>
			<xs:enumeration value="R92"/>
			<xs:enumeration value="R93"/>
			<xs:enumeration value="R94"/>
			<xs:enumeration value="R95"/>
			<xs:enumeration value="R96"/>
			<xs:enumeration value="R98"/>
			<xs:enumeration value="R99"/>
			<xs:enumeration value="S01"/>
			<xs:enumeration value="S02"/>
			<xs:enumeration value="S03"/>
			<xs:enumeration value="S04"/>
			<xs:enumeration value="S05"/>
			<xs:enumeration value="S06"/>
			<xs:enumeration value="S07"/>
			<xs:enumeration value="S08"/>
			<xs:enumeration value="S09"/>
			<xs:enumeration value="S10"/>
			<xs:enumeration value="S11"/>
			<xs:enumeration value="S12"/>
			<xs:enumeration value="S13"/>
			<xs:enumeration value="S14"/>
			<xs:enumeration value="S15"/>
			<xs:enumeration value="S16"/>
			<xs:enumeration value="S17"/>
			<xs:enumeration value="S18"/>
			<xs:enumeration value="S19"/>
			<xs:enumeration value="S20"/>
			<xs:enumeration value="S21"/>
			<xs:enumeration value="S22"/>
			<xs:enumeration value="S23"/>
			<xs:enumeration value="S24"/>
			<xs:enumeration value="S25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TollType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultInspectionType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PeriodicidadLecturaType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PeriodicidadCanonIRCType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClosingCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="001"/>
			<xs:enumeration value="002"/>
			<xs:enumeration value="003"/>
			<xs:enumeration value="004"/>
			<xs:enumeration value="005"/>
			<xs:enumeration value="006"/>
			<xs:enumeration value="007"/>
			<xs:enumeration value="008"/>
			<xs:enumeration value="009"/>
			<xs:enumeration value="010"/>
			<xs:enumeration value="011"/>
			<xs:enumeration value="012"/>
			<xs:enumeration value="013"/>
			<xs:enumeration value="014"/>
			<xs:enumeration value="015"/>
			<xs:enumeration value="016"/>
			<xs:enumeration value="017"/>
			<xs:enumeration value="018"/>
			<xs:enumeration value="019"/>
			<xs:enumeration value="020"/>
			<xs:enumeration value="021"/>
			<xs:enumeration value="022"/>
			<xs:enumeration value="023"/>
			<xs:enumeration value="024"/>
			<xs:enumeration value="025"/>
			<xs:enumeration value="026"/>
			<xs:enumeration value="027"/>
			<xs:enumeration value="028"/>
			<xs:enumeration value="029"/>
			<xs:enumeration value="030"/>
			<xs:enumeration value="031"/>
			<xs:enumeration value="032"/>
			<xs:enumeration value="033"/>
			<xs:enumeration value="034"/>
			<xs:enumeration value="035"/>
			<xs:enumeration value="036"/>
			<xs:enumeration value="037"/>
			<xs:enumeration value="038"/>
			<xs:enumeration value="039"/>
			<xs:enumeration value="040"/>
			<xs:enumeration value="041"/>
			<xs:enumeration value="042"/>
			<xs:enumeration value="043"/>
			<xs:enumeration value="044"/>
			<xs:enumeration value="045"/>
			<xs:enumeration value="046"/>
			<xs:enumeration value="047"/>
			<xs:enumeration value="048"/>
			<xs:enumeration value="049"/>
			<xs:enumeration value="050"/>
			<xs:enumeration value="051"/>
			<xs:enumeration value="052"/>
			<xs:enumeration value="053"/>
			<xs:enumeration value="054"/>
			<xs:enumeration value="055"/>
			<xs:enumeration value="056"/>
			<xs:enumeration value="057"/>
			<xs:enumeration value="058"/>
			<xs:enumeration value="059"/>
			<xs:enumeration value="060"/>
			<xs:enumeration value="061"/>
			<xs:enumeration value="062"/>
			<xs:enumeration value="063"/>
			<xs:enumeration value="064"/>
			<xs:enumeration value="065"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MotivoBajaType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MotivoModificacionType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmountType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="7"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MotivoAnulacionType">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="002"/>
			<xs:enumeration value="003"/>
			<xs:enumeration value="004"/>
			<xs:enumeration value="018"/>
			<xs:enumeration value="019"/>
			<xs:enumeration value="022"/>
			<xs:enumeration value="023"/>
			<xs:enumeration value="024"/>
			<xs:enumeration value="035"/>
			<xs:enumeration value="036"/>
			<xs:enumeration value="037"/>
			<xs:enumeration value="038"/>
			<xs:enumeration value="039"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PropiedadEquipoType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="productlistTypeAlta">
		<xs:sequence>
			<xs:element name="product" type="ProductAlta" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductAlta">
		<xs:sequence>
			<xs:element name="producttype" type="producttypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttolltype" type="producttolltypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de peaje del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqd" type="QdType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal diario Qd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqa" type="QaType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Estimado Anual Qa</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productlistTypeAceptacion">
		<xs:sequence>
			<xs:element name="product" type="ProductAceptacion" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductAceptacion">
		<xs:sequence>
			<xs:element name="productcode" type="productcodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código identificativo del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttype" type="producttypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttolltype" type="producttolltypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de peaje del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqd" type="QdType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal diario Qd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqa" type="QaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Estimado Anual Qa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productstartdate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de inicio del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productenddate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de finalización del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productlistTypeAceptacionP">
		<xs:sequence>
			<xs:element name="product" type="ProductAceptacionP" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductAceptacionP">
		<xs:sequence>
			<xs:element name="productcode" type="productcodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código identificativo del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttype" type="producttypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttolltype" type="producttolltypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de peaje del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqd" type="QdType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal diario Qd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqa" type="QaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Estimado Anual Qa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productstartdate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de inicio del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productstarthour" type="xs:time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de inicio del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productenddate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de finalización del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productlistTypeActivacion">
		<xs:sequence>
			<xs:element name="product" type="ProductActivacion" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductActivacion">
		<xs:sequence>
			<xs:element name="productcode" type="productcodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código identificativo del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttype" type="producttypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttolltype" type="producttolltypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de peaje del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqd" type="QdType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal diario Qd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqa" type="QaType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Estimado Anual Qa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productstartdate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de inicio del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productenddate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de finalización del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productlistTypeActivacionP">
		<xs:sequence>
			<xs:element name="product" type="ProductActivacionP" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductActivacionP">
		<xs:sequence>
			<xs:element name="productcode" type="productcodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código identificativo del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttype" type="producttypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttolltype" type="producttolltypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de peaje del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqd" type="QdType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal diario Qd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqa" type="QaType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Estimado Anual Qa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productstartdate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de inicio del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productstarthour" type="xs:time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de inicio del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productenddate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de finalización del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productlistTypeAltaP">
		<xs:sequence>
			<xs:element name="product" type="ProductAltaP" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductAltaP">
		<xs:sequence>
			<xs:element name="reqtype" type="reqType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productcode" type="productcodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código identificativo del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttype" type="producttypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttolltype" type="producttolltypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de peaje del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqd" type="QdType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal diario Qd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqa" type="QaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Estimado Anual Qa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productstarthour" type="xs:time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de inicio del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productlistTypeAltaSinHora">
		<xs:sequence>
			<xs:element name="product" type="ProductAltaSinHora" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductAltaSinHora">
		<xs:sequence>
			<xs:element name="reqtype" type="reqType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productcode" type="productcodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código identificativo del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttype" type="producttypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producttolltype" type="producttolltypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de peaje del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqd" type="QdType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal diario Qd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productqa" type="QaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Estimado Anual Qa</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="producttypeType">
		<xs:annotation>
			<xs:documentation>Tipo producto (tabla TIPO PRODUCTO)		
				01	Indefinido
				02	Anual
				03	Trimestral
				04	Mensual
				05	Diario
				06	Intradiario
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="producttolltypeType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productcodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="26"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="restdirectionType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="23"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="origenPSType">
		<xs:annotation>
			<xs:documentation>
			00 Puntos de suministro consolidados
			01 Nuevo Punto de Suministro (SCR)			
			02 Transformación de GLP			
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="infraestructurestatusType">
		<xs:annotation>
			<xs:documentation>
			01 Creado/Planificado
			02 Anulado			
			03 Ausente
			04 Finalizado		
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contractstatusType">
		<xs:annotation>
			<xs:documentation>
			01 Sin solicitudes recibidas
			02 Con Pre-Reserva para otra comercializadora			
			03 Con Pre-Reserva por comercializadora que consulta
			04 Con Solicitud de NNSS de otra comercializadora
			05 Con Solicitud de NNSS por comercializadora que consulta
			06 Anulado
			07 Contratado
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="provincedescType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="citydescType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="plantsatType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reqType">
		<xs:annotation>
			<xs:documentation>
			01 Nuevo producto consecutivo al existente manteniendo condiciones
			02 Nuevo producto consecutivo al existente modificando condiciones		
			03 Nuevo producto				
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoDesistimiento">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StateIncidence">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResActivacion">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransferReasonType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Client">
		<xs:sequence>
			<xs:element name="nationality" type="NationalityType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nacionalidad documento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documenttype" type="IdDocumentType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de documento del nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentnum" type="DocumentnumType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de documento del nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstname" type="FirstnameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre de nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="familyname1" type="FamilynameType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Apellido 1 / Razón Social de nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="familyname2" type="FamilynameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Apellido 2 de nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titulartype" type="TitularType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Titular de nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telephone1" type="TelephoneType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Teléfono</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telephone2" type="TelephoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Teléfono2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telephone3" type="TelephoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Teléfono3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="EmailType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Correo electrónico</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="IdiomaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Idioma</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TypeFiscalAddress">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="province" type="CodProvinciaType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Provincia INE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="CodAlpha5Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Municipio INE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zipcode" type="CodAlpha5Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código postal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="street" type="Street">
				<xs:annotation>
					<xs:documentation>Dirección</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Street">
		<xs:sequence>
			<xs:element name="streettype" type="TipoViaType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de vía</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="street" type="StreetnameType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre Calle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="streetnumber" type="StreetnumberType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de finca</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="portal" type="CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Portal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="staircase" type="CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Escalera</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="floor" type="CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Piso</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="door" type="CodAlpha5Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Puerta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PostOfficeBox">
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MotivoRechazoTypeTraspasoCUR">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="R11"/>
			<xs:enumeration value="R43"/>
			<xs:enumeration value="R78"/>
			<xs:enumeration value="R97"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResultRechazo">
		<xs:sequence>
			<xs:element name="resultreason" type="MotivoRechazoTypeTraspasoCUR" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código Motivo Resultado OCSUM</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="newClientType">
		<xs:sequence>
			<xs:element name="newnationality" type="NationalityType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nacionalidad documento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newdocumenttype" type="IdDocumentType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de documento de Identificación del nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newdocumentnum" type="DocumentnumType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de documento del nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newfirstname" type="FirstnameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre de nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newfamilyname1" type="FamilynameType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Apellido 1 / Razón Social de nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newfamilyname2" type="FamilynameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Apellido 2 de nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newtitulartype" type="TitularType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Titular de nuevo cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newtelephone1" type="TelephoneType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Teléfono 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newtelephone2" type="TelephoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Teléfono 2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newtelephone3" type="TelephoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Teléfono 3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newemail" type="EmailType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Correo electrónico</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newlanguage" type="IdiomaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Idioma</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressPSType">
		<xs:sequence>
			<xs:element name="province" type="CodProvinciaType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Provincia INE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="CodAlpha5Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Municipio INE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zipcode" type="CodAlpha5Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código postal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="street" type="Street" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dirección</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="newownerType">
		<xs:sequence>
			<xs:element name="newclient" type="newClientType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="newregularaddress" type="FlagType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador de vivienda habitual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typefiscaladdress" type="TypeFiscalAddress" minOccurs="1" maxOccurs="1"/>
			<xs:element name="addressPS" type="addressPSType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="address" type="Address" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="caecodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="customervalidationType">
		<xs:sequence>
			<xs:element name="documenttype" type="IdDocumentType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo Identificación cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentnum" type="DocumentnumType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número identificador cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="operationnumType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NombreContactoType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ContactType">
		<xs:sequence>
			<xs:element name="contactname" type="NombreContactoType">
				<xs:annotation>
					<xs:documentation>Nombre Completo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contacttelephone1" type="TelephoneType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contacttelephone2" type="TelephoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contacttelephone3" type="TelephoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactemail" type="EmailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dirección de Correo Electrónico. Deberá estar formada por un texto seguido del carácter @ y un nombre de dominio.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="stateincidenceType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ContactinciType">
		<xs:sequence>
			<xs:element name="contactname" type="NombreContactoType">
				<xs:annotation>
					<xs:documentation>Nombre Completo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contacttelephone1" type="TelephoneType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contacttelephone2" type="TelephoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contacttelephone3" type="TelephoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactemail" type="EmailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dirección de Correo Electrónico. Deberá estar formada por un texto seguido del carácter @ y un nombre de dominio.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CupsTypeFilter">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[a-zA-Z0-9 ]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UsoGasType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha10Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha20Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha50Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha100Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PressureRangeType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultRevisionType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConsumoPeriodoType">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CorrectortypeType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PerfilConsumoType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="listaproductosType">
		<xs:sequence>
			<xs:element name="producto" type="ProductoType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductoType">
		<xs:sequence>
			<xs:element name="codigoproducto" type="productcodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código identificativo del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tipoproducto" type="producttypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tarifaproducto" type="producttolltypeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de peaje del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qdproducto" type="QdType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal diario del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qaproducto" type="QaType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal anual del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fechainicioproducto" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de inicio del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="horainicioproducto" type="xs:time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de inicio del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fechafinproducto" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de finalización del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TelemedidaType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PCTDType">
		<xs:sequence>
			<xs:element name="codpctd" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaPCTDType">
		<xs:sequence>
			<xs:element name="pctd" type="PCTDType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MunicipioRedType">
		<xs:sequence>
			<xs:element name="codmunicipiored" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Municipio-Red</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaMunicipioRedType">
		<xs:sequence>
			<xs:element name="municipiored" type="MunicipioRedType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TipoEnvioRepartoType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZonaClimaticaType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="historicoConsumoType">
		<xs:sequence>
			<xs:element name="fecinicioperiodo" type="xs:date" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de inicio de periodo de consumo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fecfinperiodo" type="xs:date" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de fin de periodo de consumo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="consumoperiodo" type="ConsumoPeriodoType" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Consumo Periodo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caudalminperiodo" type="QdType" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Mínimo Periodo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caudalmedperiodo" type="QdType" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Medio Periodo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caudalmaxperiodo" type="QdType" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Caudal Máximo Periodo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
