gestionatr/data/CommonTagsFACT.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:simpleType name="AgenteType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="([0-9])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CupsType">
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[a-zA-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DatosEmpresaEmisoraType">
		<xs:sequence>
			<xs:element name="numdocumento" type="CodAlpha20Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="razonsocial" type="CodAlpha50Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="direccion" type="CodAlpha60Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="municipio" type="CodAlpha60Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="regmercantil" type="CodAlpha150Type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosEmpresaDestinoType">
		<xs:sequence>
			<xs:element name="numdocumento" type="CodAlpha20Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="razonsocial" type="CodAlpha50Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="direccion" type="CodAlpha60Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="municipio" type="CodAlpha60Type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CodProvinciaType">
		<xs:annotation>
			<xs:documentation>Código INE de Provincia</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha5Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha20Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha30Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha40Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha50Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha60Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha100Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha150Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodAlpha255Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoViaType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CalleType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumFincaType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoDocumentoType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumDocumentoType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoFacturaType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClaseFacturaType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoFacturacionType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoPeajeType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="1B"/>
			<xs:enumeration value="2B"/>
			<xs:enumeration value="3B"/>
			<xs:enumeration value="4B"/>
			<xs:enumeration value="5B"/>
			<xs:enumeration value="6B"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="A1"/>
			<xs:enumeration value="A2"/>
			<xs:enumeration value="A3"/>
			<xs:enumeration value="B1"/>
			<xs:enumeration value="B2"/>
			<xs:enumeration value="C1"/>
			<xs:enumeration value="C2"/>
			<xs:enumeration value="D1"/>
			<xs:enumeration value="D2"/>
			<xs:enumeration value="M1"/>
			<xs:enumeration value="M2"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ListaBoeType">
		<xs:sequence>
			<xs:element name="boe" type="BoeType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaConceptosType">
		<xs:sequence>
			<xs:element name="concepto" type="ConceptoType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaMedidoresType">
		<xs:sequence>
			<xs:element name="medidor" type="MedidorType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaFacturasInspecType">
		<xs:sequence>
			<xs:element name="facturainspeccion" type="FacturaInspeccionType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaContactosType">
		<xs:sequence>
			<xs:element name="contacto" type="ContactoType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListaHistorialConsumosType">
		<xs:sequence>
			<xs:element name="consumo" type="ConsumoType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImputacionCostesType">
		<xs:sequence>
			<xs:element name="pcttasacnmc" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="6"/>
						<xs:fractionDigits value="3"/>
						<xs:maxInclusive value="999.999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pctcuotagts" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="6"/>
						<xs:fractionDigits value="3"/>
						<xs:maxInclusive value="999.999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoeType">
		<xs:sequence>
			<xs:element name="numboe" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="15"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fecboe" type="xs:date" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConceptoType">
		<xs:sequence>
			<xs:element name="fecdesde" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fechasta" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="unidad" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="4"/>
						<xs:maxInclusive value="9999999999.9999"/>
						<xs:minInclusive value="-9999999999.9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="precunidad" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="29"/>
						<xs:fractionDigits value="12"/>
						<xs:maxInclusive value="99999999999999999.999"/>
						<xs:minInclusive value="-99999999999999999.999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="importe" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="29"/>
						<xs:fractionDigits value="12"/>
						<xs:maxInclusive value="99999999999999999.999"/>
						<xs:minInclusive value="-99999999999999999.999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codconcepto" type="ConceptoFacturacionType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="desconcepto" type="CodAlpha255Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="porcentajeconcepto" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="7"/>
						<xs:maxInclusive value="9999.9999999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="impuestoconcepto" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="S"/>
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codtipoimpuesto" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="porcentajeimpcto" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="7"/>
						<xs:maxInclusive value="9999.9999999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="umconcepto" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="18"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aparatoconcepto" type="TipoAparatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="observaciones" type="CodAlpha100Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fecDesdeProrrateo" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tipoInteresDemora" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="7"/>
						<xs:maxInclusive value="9999.9999999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ConceptoFacturacionType">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoAparatoType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="UR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MedidorType">
		<xs:sequence>
			<xs:element name="um" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="18"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="feclecant" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="horalecant" type="xs:time" minOccurs="0" maxOccurs="1"/>
			<xs:element name="feclecact" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="horalecact" type="xs:time" minOccurs="0" maxOccurs="1"/>
			<xs:element name="serializada" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="S"/>
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="restadeserializada" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="18"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cupsresta" type="CupsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="aparato" type="TipoAparatoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="medicion" type="TipoCorrectorType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="modelomedidor" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numseriemedidor" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="18"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="unipres" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="6"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="presatm" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="5"/>
						<xs:maxInclusive value="999.99999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="presionsuministro" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="4"/>
						<xs:maxInclusive value="999.9999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="temp" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="4"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99.99"/>
						<xs:minInclusive value="-99.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="factorconver" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="6"/>
						<xs:maxInclusive value="999.999999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="factork" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="6"/>
						<xs:maxInclusive value="99.999999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pcs" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="6"/>
						<xs:maxInclusive value="99.999999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="zeta" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="6"/>
						<xs:maxInclusive value="9.999999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="densidad" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
						<xs:maxInclusive value="9999.9999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="n2" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
						<xs:maxInclusive value="9999.9999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="co2" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
						<xs:maxInclusive value="9999.9999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="h2" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="4"/>
						<xs:maxInclusive value="9999.9999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="consumokwh" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="29"/>
						<xs:fractionDigits value="12"/>
						<xs:maxInclusive value="99999999999999999.999"/>
						<xs:minInclusive value="-99999999999999999.999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="consumoereal" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="29"/>
						<xs:fractionDigits value="12"/>
						<xs:maxInclusive value="99999999999999999.999"/>
						<xs:minInclusive value="-99999999999999999.999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="consumoreg" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="29"/>
						<xs:fractionDigits value="12"/>
						<xs:maxInclusive value="99999999999999999.999"/>
						<xs:minInclusive value="-99999999999999999.999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codajuste" type="MotivoRegularizacionConsumoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ajuste" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="13"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99999999999.99"/>
						<xs:minInclusive value="-99999999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="qdaplicado" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="13"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99999999999.99"/>
						<xs:minInclusive value="-99999999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="qdmaximo" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="13"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99999999999.99"/>
						<xs:minInclusive value="-99999999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fecqdmax" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dqmedio" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="13"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99999999999.99"/>
						<xs:minInclusive value="-99999999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="qdcontratado" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="13"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99999999999.99"/>
						<xs:minInclusive value="-99999999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="motivolec" type="MotivoLecturaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tipoDH" type="TipoDiscriminacionHorariaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="perlec" type="PeriodicidadLecturaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="capacidadcontador" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="29"/>
						<xs:fractionDigits value="12"/>
						<xs:maxInclusive value="99999999999999999.999"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="observaciones1" type="CodAlpha100Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="observaciones2" type="CodAlpha100Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="listanumeradores" type="ListaNumeradoresType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TipoCorrectorType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MotivoRegularizacionConsumoType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MotivoLecturaType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoDiscriminacionHorariaType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PeriodicidadLecturaType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ListaNumeradoresType">
		<xs:sequence>
			<xs:element name="numerador" type="NumeradorType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NumeradorType">
		<xs:sequence>
			<xs:element name="num" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="digmed" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="18"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="digdecmed" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="factmulmed" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="999999.99"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lectant" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99999999999999.99"/>
						<xs:minInclusive value="-99999999999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lecact" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99999999999999.99"/>
						<xs:minInclusive value="-99999999999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipolec" type="TipoLecturaType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="consumo" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99999999999999.99"/>
						<xs:minInclusive value="-99999999999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipolecnum" type="TipoLecturaNumeradorType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="aparatorelevante" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="S"/>
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="observaciones" type="CodAlpha100Type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TipoLecturaType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoLecturaNumeradorType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="BR"/>
			<xs:enumeration value="CR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FacturaInspeccionType">
		<xs:sequence>
			<xs:element name="numdocumentoinstalador" type="CodAlpha20Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="razonsocialinstalador" type="CodAlpha50Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="numfacturainspeccion" type="CodAlpha20Type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactoType">
		<xs:sequence>
			<xs:element name="denominacion" type="CodAlpha100Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="url" type="CodAlpha100Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="email" type="CodAlpha100Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="telefono" type="CodAlpha20Type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsumoType">
		<xs:sequence>
			<xs:element name="fecinicioperiodo" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fecfinperiodo" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="consumoperiodo" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
						<xs:maxInclusive value="99999999999999.99"/>
						<xs:minInclusive value="-99999999999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="productcodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="26"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="producttypeType">
		<xs:annotation>
			<xs:documentation>Tipo producto (tabla TIPO PRODUCTO)		
				01	Indefinido
				02	Anual
				03	Trimestral
				04	Mensual
				05	Diario
				06	Intradiario
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlagType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
