gestionatr/data/NotificacionCambiosATRDesdeDistribuidor.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns="http://localhost/elegibilidad" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/elegibilidad" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TiposSencillos.xsd"/>
	<xs:include schemaLocation="TiposComplejos.xsd"/>
	<xs:element name="MensajeNotificacionCambiosATRDesdeDistribuidor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Cabecera" type="Cabecera"/>
				<xs:element name="NotificacionCambiosATRDesdeDistribuidor" type="NotificacionCambiosATRDesdeDistribuidor"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
