gestionatr/data/RechazoReclamacion.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://localhost/elegibilidad" targetNamespace="http://localhost/elegibilidad" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TipoMensajeRechazo.xsd"/>
	<xs:include schemaLocation="TiposSencillos.xsd"/>
	<xs:element name="MensajeRechazoReclamacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CabeceraReclamacion" type="CabeceraReclamacion"/>
				<xs:element name="Rechazos" type="RechazoDistribuidor"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
